<body>
	<div id="allText">
	  <div id="Navigation"> Nav </div>
	  <div id="izquierda"> Left </div>
	  <div id="space"> space </div>
	  <div id="derecha"> Right </div>
	  <div id="pies"> Footer </div>
	</div>
</body>


#body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
}


#allText{
  text-align: center;
  align-items: center;
}

#Navigation{
  width: 100%;
  background-color: grey;
  margin-bottom: 10px;
  float: left;
}

#izquierda{
  width: 50%;
  background-color: blue;
  float: left;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 100px;
  padding-top: 100px;
}

#space{
  background-color: transparent;
  color: transparent;
  width: 25%;
  float: left;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 100px;
  padding-top: 100px;
  }

#derecha{
  width: 25%;
  background-color: red;
  float: left;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 100px;
  padding-top: 100px;
}

#pies{
  background-color: green;
  width: 100%;
  float: left;
}
